html {font-size: 100%;} /*16px*/

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #676767;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #945cef;
}
::-webkit-scrollbar-thumb:active {
  background: #8250d5;
}
::-webkit-scrollbar-track {
  background: #313131;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #313131;
}
::-webkit-scrollbar-track:active {
  background: #313131;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

*,*::after, *::before{
	box-sizing: border-box;
}

body{
	margin: 0; padding: 0;

	background-color: #273238;
	font-family: 'Poppins'
}